/* your styles go here */
.product .text h3 {
    margin:0;
    
}

.product .text h2 {
  margin:0;
}

.mastercat{
    
}

.nav.navbar-nav{
     background-color: rgba(0,0,0,0);
    padding-left: 0;
    list-style: none;
    box-sizing: border-box;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
        width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #666;
        font-size: 14px;
    line-height: 1.428571429;
}

.nav.navbar-nav a{
    height:50px;
    padding-top: 15px;
}

#followslogan{
     color: #fff;
    font-size: 20px;
    line-height: 40px;
        font-weight: 700;
    display: inline;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
        -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
}


@media (min-width: 768px){
    
    .nav.navbar-nav{
     float: left;
    margin: 0;
            letter-spacing: 1px;
    }
}




#contact{
    padding-top: 30px;
    padding-bottom: 110px;
    display: block;
    position: relative;
    z-index: 120;
    text-align: center;
        box-sizing: border-box;
        font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #666;
    font-size: 14px;
    line-height: 1.428571429;
}

.heading-contact h2{
            font-size: 30px;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.1;
    box-sizing: border-box;
        -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: left;
}

.boxed-grey{
    color: #666;
        background: #f9f9f9;
    padding: 20px;
        box-sizing: border-box;
    text-align: center;
        font-size: 14px;
    line-height: 1.428571429;
}

#submit{
    margin: 0;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
        overflow: visible;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #fff;
    
        border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
        transition: all .3s ease-in-out;
}

.widget-contact h5{
         margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.1;
        display: block;
    text-align: left;
    Color: #666;
}

.form-group label{
        text-align: left !important;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 700;
        font-family: 'Lato',sans-serif;
        color: #666;
}

.navbar-collapse{
 padding: 0;   
}

